---
  interface Props {
    title: string
    slug: string
    cover?: string
  }
  
  const { title, slug, cover } = Astro.props as Props

---

<header class={ `relative bg-green-600 min-h-60 flex flex-col gap-2 justify-center
 items-center overflow-hidden ${cover ? "min-h-20 md:min-h-90" : "min-h-60"}` }>
    { cover &&  
      <img 
        src={cover}
        class="absolute inset-0 w-full h-full object-cover"/>
      <div class="absolute inset-0 bg-green-600/40 bg-opacity"></div>
    }
    <div class="relative z-10 text-white">
      <h1 class="text-4xl font-bold  mb-6 text-shadow-2xl">{title}</h1>
      <div class="flex font-light gap-2  text-xl text-shadow">
        <a class="hover:underline transition-colors" href="/">Inicio</a>
        <span>/</span>
        <a class="hover:underline transition-colors"
          href={`/${slug}`}>{title}</a>
      </div>
    </div>
</header>