---
interface Props {
  type?: "PRIMARY" | "SECONDARY" | "TERTIARY" | "QUATERNARY";
  href: string;
  label?: string;
  isExternal?: boolean;
  isDownload?: boolean;
}
const { href, label, isExternal = false, type = "primary", isDownload } = Astro.props;

let stylesLink = "";

if (type === "SECONDARY") {
  stylesLink = "text-gray-600 bg-transparent border border-gray-400";
} else if (type === "TERTIARY") {
  stylesLink = "text-white bg-transparent border border-white";
} else if (type === "QUATERNARY") {
  stylesLink = "text-green-600 bg-transparent border border-green-600";
} else  {
  stylesLink = "text-white bg-green-600";
}
---

<a
  href={href}
  target={isExternal ? "_blank" : "_self"}
  download={isDownload}
  class=`${stylesLink} uppercase p-4 md:px-4 md:py-2 rounded-full 
              transform hover:scale-105 transition-transform text-center flex items-center`>
  {label && <span>{label}</span>}
  <slot />
</a>
