---
interface Props {
  type?: "PRIMARY" | "SECONDARY";
  href: string;
  label: string;
  isExternal?: boolean;
  isDownload?: boolean;
}
const { href, label, isExternal = false, type = "primary", isDownload } = Astro.props;

let stylesLink = "";

if (type === "SECONDARY") {
  stylesLink = "text-gray-600 bg-transparent border border-gray-400";
} else {
  stylesLink = "text-white bg-green-600";
}
---

<a
  href={href}
  target={isExternal ? "_blank" : "_self"}
  download={isDownload}
  class=`${stylesLink} uppercase px-4 py-2 rounded-full 
              transform hover:scale-105 transition-transform text-center flex items-center`>
  <span>{label}</span>
  <slot />
</a>
