@import "tailwindcss";
@plugin "@tailwindcss/typography";

@font-face {
    font-family: 'Inter';
    src: url('./src/assets/fonts/inter.woff2') format('woff2');
    font-style: normal;
    font-weight: 100 700;
    font-display: swap;
}

@theme {
    /* --color-primary: #125187bf; */

    /* Fuentes */
   --font-display: 'Inter', system-ui, sans-serif;
}
