---
import "../styles/global.css";
import Header from "../components/Header.astro";
import { getGlobal, STRAPI_BASE_URL } from "../lib/strapi";

interface Props {
	title?: string
	description?: string
}

const infoSite = await getGlobal()

const { siteName, siteDescription } = infoSite

const faviconUrl = STRAPI_BASE_URL + infoSite.favicon.url
const { title = siteName, description = siteDescription } = Astro.props;
const { logo, navLink, button } = infoSite.menu[0];

---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
	    <link rel="icon" type="image/png" href={faviconUrl}>
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Header data={{ logo, navLink, button}} />
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
		font-family: Inter, system-ui, sans-serif;
	}
</style>
