---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Colegio Público de Ingenieros de Formosa" description="Este es el sitio oficial del Colegio Público de Ingenieros de Formosa">
	<main class="container mx-auto px-4 py-8 bg-gray-100">
		<h1 class="text-4xl font-bold mb-4">Bienvenidos a Colegio Público de Ingenieros de Formosa</h1>
		<p class="text-lg">Estamos construyendo el sitio oficial del Colegio Público de Ingenieros de Formosa</p>
	</main>
</Layout>
