---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import { getHomePage } from "../lib/strapi";

const infoPage = await getHomePage()
const [heroSection] = infoPage.sections



---

<Layout title={infoPage.title}>
	<main class="container mx-auto px-4 py-8 bg-gray-100">
		<Hero data={{...heroSection}} />
	</main>
</Layout>