---
import HeaderPage from "../components/HeaderPage.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Novedades" description="Novedades de Colegio Público de Ingenieros de Formosa">
    <HeaderPage title="Novedades" slug="novedades"></HeaderPage>
    <section class="md:pt-20 container mx-auto px-4 h-[800px]">
        <h1 class="text-2xl font-bold text-green-600 text-center">Novedades</h1>
    </section>
</Layout>